---
layout: page
title: About
banner:
  title: About
  desc: Here's where you meet the people who made this.
  image_url: images/banner2.jpg
spotlight:
  title: 'Creative Directions <br/> <span class="display">brand experience strategists</span> '
  content: advertising in time of renaissance and revolution
  image_url: images/authors/john.jpg
lang: en
lang-ref: about.html
---

{% include _banner.html style='style5' scheme='' color='' size='halfscreen' content_align='left' img_pos='left' %}

{% include _spotlight.html style='style2' orient='right' scheme='' color='' size='' content_align='left' img_pos='center' id='' %}
