{% comment %}
*   Nav Menu for small device
*
*   This include lets you easily display a mobile menu.
*
*   usage: {% include _menu.html fname='nav' %}
{% endcomment %}

<nav id="menu">
  <ul>
    {% for item in site.data[include.fname] %}
    <li><a href="{{ item.path | prepend: site.baseurl }}">{{ item.title }}</a></li>
    {% endfor %}
    <li><a href="{{ site.baseurl }}/home#contact" class="button smooth-scroll-middle">Contact Us</a></li>

    <!--
    Language Support
      Currently only for Page
    -->
    {% if page.layout == 'page' %}
      {% assign posts = site.posts | where: "lang-ref", page.lang-ref | sort: 'lang' %}
      {% if posts.size == 0 %}
          {% assign posts = site.pages | where:"lang-ref", page.lang-ref | sort: 'lang' %}
      {% endif %}
      {% if posts.size > 1 %}
          {% for post in posts %}
            {% if post.lang != page.lang %}
      <li><a href="{{ site.baseurl }}{{ post.url }}" class="button smooth-scroll-middle">View in {{ site.data.lang[post.lang].label }}</a></li>
            {% endif %}
          {% endfor %}
      {% endif %}
    {% endif %}
    <!-- end of Language Support -->
  </ul>
</nav>
