---
layout: page
title: 關於
banner:
  title: 關於
  desc: 我豬肉佬何嘗唔想成為一個偉大嘅舞蹈家!
  image_url: ../images/banner2.jpg
spotlight:
  title: '醬爆 <br/> <span class="display">偉大嘅作曲家</span> '
  content: 剛才聽到呢位阿生唱嘅歌，<br/>熱情奔放，創意無限。
  image_url: ../images/authors/john.jpg
  button:
    show: true
    url: http://www.cantonese.sheik.co.uk/phorum/read.php?11,58458,58458
    text: 醬爆?
lang: tc
lang-ref: about.html
---

{% include _banner.html style='style5' scheme='' color='' size='halfscreen' content_align='left' img_pos='left' %}

{% include _spotlight.html style='style2' orient='right' scheme='' color='' size='' content_align='left' img_pos='center' id='' %}
